<a routerLink="/" mat-button class="back-button">← Back to Dashboard</a>

<div class="profile">
  <img [src]="client.profile" *ngIf="client.profile" />
  <div class="text">
    <!-- Could you create a pipe that transform this name so the last name comes before the first name? -->
    <h2>{{ client.name }}</h2>
    <p>{{ client.company }}</p>
  </div>
</div>

<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Company</mat-label>
    <input matInput placeholder="Company" formControlName="company" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

  <!-- How would you disable this button if the form was invalid? -->
  <button mat-button (click)="save()">Save</button>
</form>
